[Unit]
Description=Waggle WAN Tunnel

[Service]
Type=notify
NotifyAccess=all
TimeoutStartSec=30s
Restart=always
RestartSec=10s
ExecStart=/usr/bin/waggle_wan_tunnel.py

[Install]
WantedBy=multi-user.target
